{% extends "base.html" %}
{% load i18n static %}
{% block extra_css %}
<link rel='stylesheet' type='text/css' href="{% static 'fullcalendar/lib/main.css' %}" />
{% endblock %}
{% block content %}
<div id="calendar"></div>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        timeZone: 'UTC',
        initialView: 'dayGridMonth',
        events: '/api/events'
    });
    calendar.render();
  });

</script>
<h1>Upcoming Events:</h1>
<ul>
{% for event in upcoming_events %}
    <li style="list-style-type:none;">
        <h2>{{ event.title }}</h2>
        <h4>{{ event.date|date }} | {{ event.start_time }} | <b><a href={{ event.actionnetwork_url }}>RSVP</a></b></h4>
        <p>{{ event.description|safe }}</p>
    </li>
{% empty %}
    <li>No upcoming events.</li>
{% endfor %}
</ul>
{% endblock %}
{% block extra_js %}
<script type='text/javascript' src="{% static 'fullcalendar/lib/main.js' %}"></script>
{% endblock %}