{% extends "base.html" %}

{% block content %}
<iframe src="https://calendar.google.com/calendar/embed?src=saintlouisdsa%40gmail.com&ctz=America%2FChicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
<h1>Upcoming Events:</h1>
<ul>
{% for event in upcoming_events %}
    <li style="list-style-type:none;">
        <h2>{{ event.title }}</h2>
        <h4>{{ event.date|date }} | {{ event.start_time }} | <b><a href={{ event.actionnetwork_url }}>RSVP</a></b></h4>
        <p>{{ event.description|safe }}</p>
    </li>
{% empty %}
    <li>No upcoming events.</li>
{% endfor %}
</ul>
{% endblock %}