{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}
{% block styling %}
<link href="{% static 'css/tailwind.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="flex flex-row md:flex-col">
  <div class="col-8 me-4">
    <h2 class="pb-2" style="font-family:'Styrene B Bold';">
      What's new with STL DSA?
    </h2>
    <div class="grid grid-cols-4">
      <div class="col-span-3 justify-center p-4 my-3 bg-white shadow rounded">
        <h2 class="my-3">
          {{ update.title }}
        </h2>
        <p class="mb-4">
          {{ update.description|richtext }}
        </p>
        <div class='flex items-center'>
          <a class='btn btn-primary mb-4 shadow' href="{% pageurl update %}">
            Read More
          </a>
        </div>
        <a class="text-muted text-left" href="{% pageurl update %}" >
          {{ update.first_published_at|date:"D, M jS Y" }}
        </a>
      </div>
    </div>
    <h2 class="text-left mb-2 py-4" style="font-family:'Styrene B Bold';">
      Upcoming Events
    </h2>
    <div class="flex flex-row">
      {% if events %}
        {% for event in events %}
          <div class="flex flex-row p-4 me-4 rounded bg-white shadow">
            <div class="flex flex-col justify-center items-center">
              <div>
                <p>
                  {{ event.start|date:"D" }}
                </p>
                <h1>
                  {{ event.start|date:"j" }}
                </h1>
                <p>
                  {{ event.start|date:"M" }}
                </p>
              </div>
              {% if event.formation %}
                <div class="mb-3">
                  {{ event.formation }}
                </div>
              {% endif %}
              <button href="{{ event.url }}" class="btn btn-primary shadow">
                RSVP
              </button>
            </div>
            <div class="event-subtitle mb-3">
              {{ event.title }}
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>No upcoming events.</p>
      {% endif %}
    </div>
  </div>
  <div class="col-4">
    <div class="shadow m-3 p-3 bg-white rounded shadow">
      {% if not user.is_authenticated %}
        <h2 >
          Sign up for our weekly newsletter!
        </h2>
        <div class="m-3 pt-0 align-items-start">
          <form class="form" action="/person-helper/" method="post">
            {% csrf_token %}
            <label for="email" class="py-1">
              E-mail
            </label>
            <div class="input-group">
              <input required type="email" id="email" name="email" class="form-control">
            </div>
            <label for="zip" class="pt-2 mt-1 pb-0 mb-0">ZIP</label>
            <div class="input-group flex-nowrap align-items-center">
              <input required type="text" name="zip" class="form-control" id="zip">
              <button type="submit" class="btn btn-primary shadow">
                Subscribe
              </button>
            </div>
          </form>
          {% if messages %}
            {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
              {{ message }}
            </div>
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}
    </div>
    <div class="m-3 p-3 bg-white rounded shadow">
      <div class="text-wrap" style="font-family:'Styrene B Black';">
        {{ page.highlighted_campaign }}
      </div>
      <p class="card-text mb-3">{{ page.highlighted_description|richtext }}</p>
      <div class="d-flex justify-content-center">
        <a class="card-link btn btn-primary shadow" href="{{ page.call_to_action }}">
          I'm Interested
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
