{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
  <div class='container col-md-auto d-block pb-4'>  
    
    <div class="row">
      
      <div class="col-sm-8 banner">
        <div class="card text-center my-4">
          <div class="card-header text-left" style="font-family:'Styrene B Black';">
            What's new?
          </div>
          {% image update.banner_image min-500x200 as banner %}
          <div class="card-body align-items-center">
            <div class="d-sm-flex align-items-center">
              {% if update.banner_image %}
                <div>{% image update.banner_image min-500x300 %}</div>
              {% endif %}
              <div class="flex-column justify-content-center">
                <h2 class="card-title text-wrap">{{ update.title }}</h2>
                <p class="card-text">{{ update.main_copy|richtext }}</p>
                <a class='btn btn-primary' href="{% pageurl update %}">Read More</a>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted text-left">
            Posted: <a href="{% pageurl update %}" >
              {{ update.last_published_at|date:"D, M jS Y" }}
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-header text-left" style="font-family:'Styrene B Bold';">
            Upcoming Events
          </div>
          <div class="card-body">
            <ul class="d-sm-flex">
              {% if events %}
                {% for event in events %}
                  <li class="card">
                    <div class="card-header">
                      {{ event.start|date:"D, M j" }}
                    </div>
                    <div class="card-body">
                      <div class="card-title">
                        {{ event.title }}
                      </div>
                      <div class="card-subtitle">
                        {{ event.location|default_if_none:"" }}
                      </div>
                      <button href="{{ event.url }}" class="btn btn-primary">RSVP</button>
                    </div>
                  </li>
                {% endfor %}
              {% else %}
                  <p>No upcoming events.</p>
              {% endif %}
            </ul> 
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">
            Sign up for our weekly newsletter!
          </div>
          <div class="card-body mx-5">
            {% if messages %}
              {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
              {% endfor %}
            {% else %}
              <form class="form" action="/person-helper/" method="post">
                {% csrf_token %}
                <label for="email" class="py-1">E-mail</label>
                <div class="col form-group">
                  <div class="input-group">
                    <input required type="email" id="email" name="email" class="form-control">
                  </div>
                </div>
                <label for="zip" class="py-1">ZIP code</label>
                <div class="input-group justify-content-center align-items-center">
                  <input required type="text" name="zip" class="form-control" id="zip">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">
                      Subscribe
                    </button>
                  </div>
                </div>
              </form>
            {% endif %}
          </div>
        </div>
        <div class="card my-4">
          <div class="card-header text-center" style="font-family:'Styrene B Black';">
            {{ page.highlighted_campaign }}
          </div>
          <div class="card-body">
            <p class="card-text">{{ page.highlighted_description|richtext }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
