exclude: "docs|node_modules|migrations|.git|.tox"
default_stages: [commit]
fail_fast: true

repos:
  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black
        language_version: python3.11
        stages: [commit]

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.201"
    hooks:
      - id: ruff
        args: ["--force-exclude"]
        stages: [commit]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
        language_version: python3.11
        stages: [commit]

  - repo: https://github.com/python-poetry/poetry
    rev: "1.3.2"
    hooks:
      - id: poetry-check

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: poetry run pytest
        language: system
        stages: [push]
        types: [python]
        pass_filenames: false

      - id: conventional-commit
        name: conventional-commit
        stages: [commit-msg]
        language: system
        entry: poetry run conventional-pre-commit .git/COMMIT_MSG
