interactions:
- request:
    body: null
    headers:
      OSDI-API-Token:
      - abcdefghijklmnopqrstuvwxyz123456
    method: GET
    uri: https://actionnetwork.org/api/v2/events/
  response:
    body:
      string: "{\"total_pages\":2,\"per_page\":25,\"page\":1,\"total_records\":33,\"_links\":{\"next\":{\"href\":\"https://actionnetwork.org/api/v2/events?page=2\"},\"self\":{\"href\":\"https://actionnetwork.org/api/v2/events\"},\"osdi:events\":[{\"href\":\"https://actionnetwork.org/api/v2/events/355b15ca-0989-444a-bc89-c251e8a9349e\"},{\"href\":\"https://actionnetwork.org/api/v2/events/081a5a08-2dde-47d0-ab79-4688a7adf4d4\"},{\"href\":\"https://actionnetwork.org/api/v2/events/67673f0e-1b66-4f06-a7a1-d0a7e78a0102\"},{\"href\":\"https://actionnetwork.org/api/v2/events/d3ab1c19-869e-4392-9a63-cc8e00b387d3\"},{\"href\":\"https://actionnetwork.org/api/v2/events/0995c05b[...]
