{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <div class="col-10 mx-auto">
    <h1>{{ page.title }}</h1>

    <div>{% image page.main_story_image scale-100 %}</div>
    {% if page.main_story_heading %}
        <h2>{{ page.main_story_heading }}</h2>
    {% endif %}
    <div>
    {{ page.main_story_copy|richtext }}
    </div>
    {% for block in page.related_stories %}
        <div class="row">
            <div class="col-sm-4 my-auto">
                {% image block.value.image scale-100 as photo %}
                <img src="https://bucketeer-addd2217-1ffa-41ff-b050-fd915562796e.s3.amazonaws.com/bucketeer-addd2217-1ffa-41ff-b050-fd915562796e{{ photo.url }}" width="{{ photo.width }}"
                    height="{{ photo.height }}" alt="test" />
            </div>
            <div class="col-sm">
                    <h3>{{ block.value.heading }}</h3>
                    <p>{{ block.value.copy }}</p>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}