{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailuserbar static %}

{% block body_class %}template-blogindexpage{% endblock %}
{% block content %}
    {% wagtailuserbar %}

    {% for update in updates %}
        <h1 class='col-md-8'>
            What's New
        </h1>
        {% for story in update.stories.all %}
            <div class="card bg-transparent border-0">
                <div class="row g-3">
                    <div class="col-4">
                        <!-- Blog image -->
                        {% image story.related_image max-500x300 class="rounded" alt="" %}
                    </div>
                    <div class="col">
                        <!-- Blog caption -->
                        {% if story.sponsoring_formation %}
                            <a href="#" class="badge bg-danger bg-opacity-10 text-danger mb-2 fw-bold">
                                {{ story.sponsoring_formation }}
                            </a>
                        {% endif %}
                        <h2 class="h5">
                            {{ story.title }}
                        </h2>
                        <div class="d-none d-sm-inline-block">
                            <p class="mb-2">{{ story.description|richtext }}</p>
                        <!-- BLog date -->
                        <!-- <a class="small text-secondary" href="#!"> <i class="bi bi-calendar-date pe-1"></i> }}</a> -->
                        </div>
                    </div>
                    {% if story.related_event %}
                        <div class='col-md-2'>
                            <div class='card-body'>
                                <h2>{{ story.related_event.start|date:"l" }}</h2>
                                <h3 class="mb-2">{{ story.related_event.start|date:"M j" }}</h3>
                                <p class="mb-2">{{ story.related_event.start|date:"P" }}</p>
                                <a class='btn btn-primary' href="{{ story.related_event.url }}">
                                    RSVP
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    <div class="row">
        <div class="col">
            {% if updates.has_previous %}
                <a href="?page=1">&laquo; most recent </a>
                <a href="?page={{ updates.prev_page_number }}">&lsaquo; next update</a>
            {% endif %}
        </div>
        <div class="col">
            {{ update.first_published_at|date:"D, M jS Y" }}
            
        </div>
        <div class="col">
            {% if updates.has_next %}
                <a href="?page={{ updates.next_page_number }}">previous update &rsaquo;</a>
            {% endif %}
        </div>
    </div>
{% endblock %}