{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailuserbar %}

{% block content %}
    {% wagtailuserbar %}
    <div class="col-md-10">
        <h1 class="m-3">{{ page.title }}</h1>
        {% for story in page.stories.all %}
            <div class="card mb-3">
                <div class="row g-0 align-items-center">
                    <div class="col-md-4">
                        {% if story.related_image %}
                            {% image story.related_image max-400x300 class="img-fluid rounded-start" %}
                        {% endif %}
                    </div>
                    <div class="col md-8">
                        <div class='card-body'>
                            <div class='card-text'>
                                {{ story.description|richtext }}
                                {% if story.related_event %}
                                    <a class='btn btn-primary col-4 text-center' href="{{ story.related_event.url }}">
                                        RSVP
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}