{% load menu_tags %}

<div class="navbar-nav flex-column flex-sm-row">
    {% for item in menu_items %}
        {% if item.sub_menu %}
            <li class="nav-item dropdown">
                <button class="btn nav-link dropdown-toggle" id="navbarDropdownMenuLink" type="button" data-toggle="dropdown">
                    {{ item }}
                </button>
                <div class="dropdown-menu position-absolute">
                    {% for sub_item in item.sub_menu.items %}
                        <a class="dropdown-item" href="{{ sub_item.href }}">{{ sub_item }}</a>
                    {% endfor %}
                </div>
            </li>
        {% else %}
            <a class="btn nav-link" href="{{ item.href }}">{{ item }}</a>
        {% endif %}
    {% endfor %}
</div>
