{% load static wagtailuserbar i18n %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        {# Global stylesheets #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{% static 'css/project.css' %}" rel="stylesheet">
        <link rel="shortcut icon" type="image/svg" href="{% static 'images/LINEOWORK-RED.svg' %}"/>
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        <!-- <div class='container'>
            <div class='row'>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4  text-center brand-logo" style="max-height: 120;"><a class="cbx-title" href="https://stldsa.org"><img src="{% static 'images/DSA_header.png' %}"></a></div>
            </div>
        </div> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="{% static 'images/LINEOWORK-RED.svg' %}"  height="70" class="d-inline-block" alt="">
                <h1 class="d-inline-block">St Louis DSA</h1>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About Us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="news">News and Updates</a>
                    <a class="dropdown-item" href="bylaws">Chapter Bylaws</a>
                    <a class="dropdown-item" href="#">Who We Are</a>
                    <a class="dropdown-item" href="#">FAQ</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'events' %}">Events</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    The Work
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="dropdown-header">Chapter Priorities</div>
                    <a class="dropdown-item" href="#">Anti-Privatization</a>
                    <a class="dropdown-item" href="#">Healthcare for All</a>
                    <a class="dropdown-item" href="#">Socialist Night School</a>
                    <a class="dropdown-item" href="#">COVID-19 Response</a>
                    <div class="dropdown-header">Working Groups</div>
                    <a class="dropdown-item" href="#">Criminal Justice</a>
                    <a class="dropdown-item" href="#">Electoral</a>
                    <a class="dropdown-item" href="#">Healthcare</a>
                    <a class="dropdown-item" href="#">Labor</a>
                    <a class="dropdown-item" href="#">Socialist Feminists</a>
                    <div class="dropdown-header">Committees</div>
                    <a class="dropdown-item" href="#">Communications</a>
                    <a class="dropdown-item" href="#">Community</a>
                    <a class="dropdown-item" href="#">Tech</a>
                </li>
                {% if request.user.is_authenticated %}
                  <li class="nav-item">
                    {# URL provided by django-allauth/account/urls.py #}
                    <a class="nav-link" href="{% url 'users:detail' request.user.id  %}">{% trans "My Stuff" %}</a>
                  </li>
                  <li class="nav-item">
                    {# URL provided by django-allauth/account/urls.py #}
                    <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Log Off" %}</a>
                  </li>
                {% else %}
                <li class="nav-item">
                    {# URL provided by django-allauth/account/urls.py #}
                    <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
                  </li>
                  <li class="nav-item">
                    {# URL provided by django-allauth/account/urls.py #}
                    <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
                  </li>
                {% endif %}
                </ul>
                <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
                </form>
            </div>
        </nav>
        <div class='container'>
            <div class='content'>
            {% block content %}
            {% endblock %}
            </div>
        </div>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/stldsa.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

    </body>
</html>
        