{% extends "account/base.html" %}

{% load account socialaccount %}

{% block content %}
<div class="card">

  <div class="card-body">
    <h1 class="card-title">Log In</h1>
    <p class="card-subtitle">Log into your myDSA account for your membership status and more!</p>
    {% get_providers as socialaccount_providers %}

    
    <form class="login my-3 min-w-md" method="POST" action="{% url 'account_login' %}">
      <div class="flex flex-col">
        {% csrf_token %}
        {{ form }}
      </div>
      <button class="btn btn-primary self-center my-2" type="submit">Log In</button>
      <br>
      <a class="button secondaryAction py-2" href="{% url 'account_reset_password' %}">Forgot Password?</a>
      <br>
      <p>Don't have an account? <a href="{% url 'account_signup' %}">Sign up here</a>.</p>
    </form>
  </div>
</div>

{% endblock %}

