interactions:
- request:
    body: null
    headers:
      OSDI-API-Token:
      - ec8a3c9d846cfaa7981a105c7dd22b64
    method: GET
    uri: https://actionnetwork.org/api/v2/events/
  response:
    body:
      string: "{\"total_pages\":2,\"per_page\":25,\"page\":1,\"total_records\":44,\"_links\":{\"next\":{\"href\":\"https://actionnetwork.org/api/v2/events?page=2\"},\"self\":{\"href\":\"https://actionnetwork.org/api/v2/events\"},\"osdi:events\":[{\"href\":\"https://actionnetwork.org/api/v2/events/8a6b5fa8-5a18-4c5f-b8ca-557aa0a968cf\"},{\"href\":\"https://actionnetwork.org/api/v2/events/4985d464-d87b-46ce-b421-9110fb9d3f78\"},{\"href\":\"https://actionnetwork.org/api/v2/events/19033253-9cd8-4f05-8f9f-2d75f7c47b79\"},{\"href\":\"https://actionnetwork.org/api/v2/events/58048ae9-9ad1-489a-85d4-5f065928ecc2\"},{\"href\":\"https://actionnetwork.org/api/v2/events/7633ec93[...]
