@import "../bootstrap/scss/bootstrap-utilities";

// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

// DSA Colors
$dsared: #e70109;
$darkdsared: #9f0005;
$dsalightred: #ffe2d6;
$dsablack: #241f20;
$dsadarkgrey: #747380;
$dsamidgrey: #e4e4e8;
$dsalitegrey: #f6f6f6;
$dsaredtrans-1x: rgba($dsared, 0.5);
$dsaredtrans-2x: rgba($dsared, 0.1);
$blacktrans-1x: rgba($black, 0.5);
$blacktrans-2x: rgba($black, 0.25);
$whitetrans-1x: rgba($white, 0.5);
$whitetrans-2x: rgba($white, 0.25);
$lightred: desaturate($dsared, 20%);

// Sizes

$text-xxs: 0.4em;
$text-xs: 0.6em;
$text-s: 0.8em;
$text-l: 1.1em;
$text-xl: 1.25em;
$text-2xl: 1.5em;
$text-3xl: 2em;
$text-4xl: 2.5em;
$text-5xl: 3em;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}
.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

// Custom Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,600");

@font-face {
  font-family: "ManifoldDSA";
  src: url(../fonts/ManifoldDSA/OTF/ManifoldDSA-Regular.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ManifoldDSA";
  src: url(../fonts/ManifoldDSA/OTF/ManifoldDSA-Light.woff);
  font-weight: 100;
}

@font-face {
  font-family: "ManifoldDSA";
  src: url(../fonts/ManifoldDSA/OTF/ManifoldDSA-Bold.woff);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ManifoldDSA";
  src: url(../fonts/ManifoldDSA/OTF/ManifoldDSA-BoldItalic.woff);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "ManifoldDSA";
  src: url(../fonts/ManifoldDSA/OTF/ManifoldDSA-DemiBold.woff);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "ManifoldDSA";
  src: url(../fonts/ManifoldDSA/OTF/ManifoldDSA-DemiBoldItalic.woff);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "ManifoldDSA";
  src: url(../fonts/ManifoldDSA/OTF/ManifoldDSA-ExtraBold.woff);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "ManifoldDSA";
  src: url(../fonts/ManifoldDSA/OTF/ManifoldDSA-ExtraBoldItalic.woff);
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Styrene B";
  src: url(../fonts/StyreneB/StyreneB-Regular.otf);
}

@font-face {
  font-family: "Styrene B";
  src: url(../fonts/StyreneB/StyreneB-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: "Styrene B";
  src: url(../fonts/StyreneB/StyreneB-Black.otf);
  font-weight: 900;
}

%font-manifold {
  font-family: "Manifold DSA", Impact, Haettenschweiler, "Franklin Gothic Bold",
    "Arial Black", sans-serif;
}
%font-styrene {
  font-family: "Styrene B", sans-serif;
}
%font-headers {
  font-family: "Open Sans Condensed", Impact, Haettenschweiler, sans-serif;
}
%font-default {
  font-family: "Open Sans", Segoe, "Segoe UI", "DejaVu Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

body {
  font: 400 1em/1 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $black-light-1x;
  // background-color: $dsalitegrey;
}

em,
i {
  font-style: italic;
}
strong,
b {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
a {
  display: block;
  @extend %font-styrene;
  margin: 1em 0 1em;
  font-weight: 400;
  font-weight: bold;
  line-height: 1;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  color: $dsablack;
  //	border-bottom: 2px solid $dsared;
}
h2 {
  font-size: 20px;
  font-weight: 700;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: ($h1 * 0.4);
  font-weight: normal;
}
h5 {
  font-weight: bold;
}
@media #{$mobile-query} {
  h1 {
    font-size: ($h1 * 0.8);
  }
  h2 {
    font-size: ($h1 * 0.6);
  }
  h3 {
    font-size: ($h1 * 0.4);
  }
  h4 {
    font-size: ($h1 * 0.25);
  }
}

.bgred h2 {
  display: inline-block;
  background-color: #ec1f27;
  color: white;
  border-radius: 1px;
  padding: 10px;
  border: 1px solid black;
  margin: auto;
}

h3,
h4 {
  margin-top: 20px;
  font-weight: 600;
}

b {
  font-weight: bolder;
}

.content {
  margin-top: 5px;
  padding-top: 5px;
}

.dropdown-header {
  font-weight: bold;
  color: #ec1f27;
}

nav {
  z-index: 9999;
}

.nav-item {
  font-weight: bold;
}

.navbar-brand h1 {
  vertical-align: middle;
}

.navbar {
  width: 100%;
  top: 0;
}

/* p{
  display: inline-block;
} */

.content .container {
  background-color: white;
  border-radius: 2px;
  padding-bottom: 10px;
}

.box {
  display: inline-block;
}

.footer {
  background-color: lightgray;
}

.fc-event-time,
.fc-event-title {
  padding: 0 1px;
  white-space: normal;
}

.fc-title {
  white-space: normal;
}

.fc-daygrid-week-number {
  position: absolute;
  max-height: 40px;
}

.btn,
.btn:disabled {
  background-color: #ec1f27;
  border-color: #ec1f27;
}

.btn-primary .dropdown-toggle {
  background-color: #ec1f27;
  border-color: #ec1f27;
}

.fc-btn-active {
  background-color: white;
  border-color: #ec1f27;
}

.fc-button .fc-button-inner:hover {
  background-color: red;
  color: #fff;
}

.fc-button .fc-state-active .fc-button-inner {
  background-color: maroon;
  color: #fff;
}

.fc-button .fc-button-inner {
  background-color: #000;
  color: #fff;
}

.calbox {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.calbox .row.content {
  flex: 1 1 auto;
}

@media (max-width: 767.98px) {
  .fc .fc-toolbar.fc-header-toolbar {
    display: block;
    text-align: center;
  }

  .fc-header-toolbar .fc-toolbar-chunk {
    display: block;
    margin: 5px;
    margin-bottom: 7px;
  }
}
