{% extends "base.html" %}
{% load wagtailcore_tags static %}

{% block content %}
    <div class="container">
        <div>
            <h1 class="mb-3">{{ page.title }}</h1>
            <p>{{ page.description|richtext }}</p>
        </div>
        <div class="accordion" id="bylawsAccordion">
            {% for bylaw in page.bylaws.all %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ bylaw.sort_order }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ bylaw.sort_order }}" aria-expanded="false" aria-controls="collapse{{ bylaw.sort_order }}">
                            ARTICLE {{ bylaw.display_index }}: {{ bylaw.name }}
                        </button>
                    </h2>
                    <div id="collapse{{ bylaw.sort_order }}" class="accordion-collapse collapse" aria-labelledby="heading{{ bylaw.sort_order }}" data-bs-parent="#bylawsAccodrion">
                        <div class="accordion-body">
                            {{ bylaw.body|safe }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
