{% extends "base.html" %}
{% load wagtailcore_tags static %}

{% block content %}
    <div class="container">
        <div>
            <h1 class="mb-3">{{ page.title }}</h1>
            <p>{{ page.description|richtext }}</p>
        </div>
        <div>
            {% for position in page.executive_committee.all %}
                <div class="align-items-center p-3">
                    <div class="align-items-center my-3 text-right">
                        <h2 class="p-3">{{ position.get_position_display }}</h2>                    
                        <h3 class="p-3">{{ position.person }}</h3>
                    </div>       
                    <div>
                        {{ position.description }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}