name: CI

on: [push]

variables:
  ACTIONNETWORK_API_KEY: '{"main": "fakekey"}'

jobs:

  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5        
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1

      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: '3.9.6'
      
      - name: Install Poetry
        uses: abatilo/actions-poetry@v2.1.0

      - name: Install Dependencies
        run: poetry install

      - name: Code Quality
        run: poetry run black . --check

      - name: Run migrations
        env:
          DJANGO_SETTINGS_MODULE: config.settings
          DJANGO_CONFIGURATION: Test
          DATABASE_URL: "postgres://postgres:postgres@localhost:5432/postgres"
        run: poetry run python manage.py migrate

      - name: Test with pytest
        env:
          DJANGO_SETTINGS_MODULE: config.settings
          DJANGO_CONFIGURATION: Test
          DATABASE_URL: "postgres://postgres:postgres@localhost:5432/postgres"
        run: poetry run pytest --disable-warnings
