{% extends "base.html" %}
{% load wagtailcore_tags %}


{% block content %}
<div class="container">

    <h1 class="mb-3">{{ page }}</h1>
    <h4>{{ page.description|richtext }}</h4>

    <div class="row row-cols-4">
        {% for formation in page.get_children %}
            <div class="col">
                <div class="card shadow">
                    <div class="card-body">
                        <h2><a href="{% pageurl formation %}">{{ formation.title }}</a></h2>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}