{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block content %}

<h2>{{ page.name }} {{ page.get_formation_type_display }}</h2>
<div class='container'>
    <div class='row'>
        <div class='col-8'>
            <h4>Current Chair:</h4>
            <p>{{ page.leader_name }} | {{ page.email|urlize }}</p>
            <h4>Description:</h4>
            <p>{{ page.description|richtext }}</p>
        </div>
        <div class='col-4'>
            <!-- insert action network embed here -->
        </div>
    </div>
</div>

{% endblock %}