{% extends "base.html" %}
{% load wagtailcore_tags %}


{% block content %}

<div class="row">
    <div class="col">
        <h1 class="my-3">
            Committees
        </h1>
        <p>
            Committees are ratified by our general membership and their formation and leadership elections are usually held at our Annual General Meeting. In following with the convention established by DSA's National Organization, "committees" are responsible for internal-facing work and other work that is core to moving our chapter's vision forward.
        </p>
        <!-- <div class="card-group">
            {% for formation in page.get_children %}
            {{ formation.fields }}
            <div class="card text-center">
                <div class="card-body">
                    <h2><a href="{% pageurl formation %}">{{ formation }}</a></h2>
                </div>
                {{ formation.description }}
            </div>
            {% endfor %}
        </div> -->
        <h1 class="my-3">
            Working Groups
        </h1>
        <p>
            Working groups are established by petition and hold leadership elections as described in its charter. They are often focused on issue-based political work and elections.
        </p>
        <h1 class="my-3">
            Caucuses
        </h1>
        <p>
            Caucuses are informal but chapter-recognized groups of people, often groups sharing an identity or political interest.
        </p>
    </div>
</div>

{% endblock %}