{% extends "base.html" %}
{% load wagtailcore_tags %}


{% block content %}
<div class="container">

    <h1 class="mb-3">{{ page }}</h1>
    <div class="row">
        <div class="col">
            {% for formation_type in page.get_children.specific %}
                {% if formation_type.live %}
                    <h2>{{ formation_type.title }}</h2>
                    <p>{{ formation_type.description|richtext }}</p>
                    {% for formation in formation_type.get_children %}
                        <ul>
                            {% if formation.live %}
                                <li>
                                    <a href="{{ formation.url }}">{{ formation.title }}</a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="col">
            <link href='https://actionnetwork.org/css/style-embed-whitelabel-v3.css' rel='stylesheet' type='text/css' /><script src='https://actionnetwork.org/widgets/v5/form/formation-sign-up?format=js&source=widget'></script><div id='can-form-area-formation-sign-up' style='width: 600px'><!-- this div is the target for our HTML insertion --></div>
        </div>
    </div>

</div>

{% endblock %}