{% extends 'base.html' %}

{% block content %}

<h2>{{ committee.name }} {{ committee.get_formation_type_display }}</h2>
<div class='container'>
    <div class="row">
        <div class="col-sm">
            {{ committee.leader.email }}</p>
            <h4>Description:</h4>
            <p>{{ committee.description }}</p>
            <h4>
                <a href="{{ committee.gcal_url }}"">
                    Google Calendar
                </a>
            </h4>
        </div>
        <div class="col-sm">
            <h1>Placeholder</h1>
        </div>
    </div>
</div>
{% endblock %}
